{:paths ["src" "resources"]
 :deps  {org.clojure/clojure      {:mvn/version "1.12.4"}
         net.modulolotus/truegrit {:mvn/version "2.3.35"}
         me.flowthing/pp          {:mvn/version "2024-11-13.77"}
         hato/hato                {:mvn/version "1.0.0"}
         com.taoensso/timbre      {:mvn/version "6.8.0"}
         metosin/jsonista         {:mvn/version "0.3.13"}
         progrock/progrock        {:mvn/version "1.0.0"}
         
         com.github.pmonks/spinner {:mvn/version "2.0.297"}
         commons-io/commons-io {:mvn/version "2.21.0"}
         }
 :aliases
 {:download-dataset
  {:ns-default hfds-clj.datasets
   :exec-fn download-cli
   :exec-args {:split   "train"
               :config  "default"
               :offset  0
               :length  100}}
  :download-model
  {:ns-default hfds-clj.models
   :exec-fn download-cli
   :exec-args {}}


   :outdated
   {:deps      {com.github.liquidz/antq {:mvn/version "RELEASE"}}
    :main-opts ["-m" "antq.core" "--upgrade"]}

   :kaocha
   {:main-opts   ["-m" "kaocha.runner"]
    :extra-paths ["test"]
    :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}}}

   :build
   {:deps       {io.github.clojure/tools.build {:git/tag "v0.10.11" :git/sha "c6c670a"}
                 slipset/deps-deploy           {:mvn/version "0.2.2"}}
    :ns-default build}

   :neil
   {:project {:name    io.github.zmedelis/hfds-clj
              :version "2025.12.30"}}
   :test
   {:extra-paths ["test"]
    :extra-deps  {org.clojure/test.check {:mvn/version "1.1.2"}
                  io.github.cognitect-labs/test-runner
                  {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
